*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    background-color: rgb(171, 134, 230);
}
.card-container{
    height: 640px;
    width: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 2px solid rgb(250, 250, 250);
    perspective: 1000px;
}
.memory-card{
    position: relative;
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);  
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
.memory-card.flip{
    transform: rotateY(180deg);
}
.memory-card :active{
 transform: scale(.97);
 transition: transform .2s;
}
.front-face,
.back-face{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20px;
    background: rgb(198, 226, 226);
    backface-visibility: hidden;
}
.front-face{
    background:rgb(238, 150, 150) ;
    transform: rotateY(180deg);
}